@import url("fonts.css");
@import url("variables.css");

* {
    box-sizing: border-box;
}

.history-grid {
    display: grid;
    height: auto;
    width: 100%;
    grid-template: 12vh auto / 8% 1% 14% 38.5% 38.5%;
    grid-template-areas: 
    "left timeline right . ."
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    "left timeline right history history"
    ;
}

.timeline {
    grid-area: timeline;
    background-color: white;
}

.left {
    grid-area: left;
    display: flex;
    align-items: center;
}

.right {
    margin-top: 12vh;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.time-tick {
    background-color: rgb(255, 98, 0);
    width: 20px;
    height: 7px;
}

.date {
    font-family: var(--normal-font);
    font-size: clamp(1rem, 2vw, 1.6rem);
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

.timeline-line {
    background-color: white;
}

.history-text {
    grid-area: history;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.history-area {
    color: white;
    font-family: var(--normal-font)
}

.section1 {
    border: 1px solid rgba(255, 255, 255, 0.251);
    width: 50%;
}

.section2 {
    border: 1px solid rgba(255, 255, 255, 0.251);
    width: 50%;
}

.image-section {
    width: 50%;
}

.image1 {
    background-image: url(/Images/helmets.jpeg);
}

.image2 {
    background-image: url(/Images/kalmar-flag.jpg);
}

.image3 {
    background-image: url(/Images/vasa.jpeg);
}

.image4 {
    background-image: url(/Images/raid.jpeg);;
}

.image5 {
    background-image: url(/Images/roskilde.jpeg);
}

.image6 {
    background-image: url(/Images/kalmar-painting.png);;
}

.image7 {
    background-image: url(/Images/runestone.jpeg);
}

.image8 {
    background-image: url(/Images/const.jpeg);;
}

.image9 {
    background-image: url(/Images/helmets.jpeg);
}

.image10 {
    background-image: url(/Images/longboat.jpeg);;
}

.image11 {
    background-image: url(/Images/kalmar-flag.jpg);
}

.image12 {
    background-image: url(/Images/longboat.jpeg);;
}

.image13 {
    background-image: url(/Images/raid.jpeg);;
}

.image-section div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image {   
    width: 50%;
    height: 50%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-title {
    font-size: clamp(1.1rem, 1.8vw, 2.4rem);
    font-family: var(--header-font);
    padding-left: 15px;
}

.history-area p {
    font-size: clamp(.95rem, 1.5vw, 1.8rem);
    padding: 12px;
    line-height: clamp(30px, 4vh, 100px);
}

.foot {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    background: transparent;
}

.foot div {
    position: static;
}

@media (orientation: portrait) {

    .history-grid {
    margin-top: 12vh;
    grid-template: auto / auto ;
    grid-template-areas: 
    'history'
    ;
    }

    .history-text{
        flex-direction: column;
        width: 100%;
    }

    .time-tick{
        display: none;
    }

    .section1 {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.251);
    }

    .section2 {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.251);
    }

    .timeline {
        display: none;
    }

    .image-section {
        width: 100%;
        height: 100vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .image {
        width: 100%;
    }
}